<!-- wp:template-part {"slug":"header","theme":"blocktheme","tagName":"header"} /-->

<!-- wp:blockbite/main -->
<main id="main" class="wp-block-blockbite-main site-main"><!-- wp:blockbite/section {"hasEqualColumns":false} -->
<section class="wp-block-blockbite-section"><div class="section--content container mx-auto  "><!-- wp:heading {"textColor":"primary","fontSize":"gigantic"} -->
<h2 class="wp-block-heading has-primary-color has-text-color has-gigantic-font-size">Helaas.</h2>
<!-- /wp:heading -->

<!-- wp:heading {"fontSize":"gigantic"} -->
<h2 class="wp-block-heading has-gigantic-font-size">Deze pagina werd niet gevonden</h2>
<!-- /wp:heading --></div></section>
<!-- /wp:blockbite/section --></main>
<!-- /wp:blockbite/main -->

<!-- wp:template-part {"slug":"footer","theme":"blocktheme","tagName":"footer"} /-->